---
layout: layout2
---

<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 id="name">Mihai "<span class="accent-blue">Aquarius Due</span>" Dumitru</h1>
        <p id="tagline">&mdash; Web Developer &mdash;</p>
        <p id="about-me">Hi there! I'm Mihai and Aquarius Due online. While you're here why not check out my latest blog post about <a href="#">how I made this website</a>. For more technical stuff check out my <a href="#">projects</a>.</p>
        <p>When you'll need help with a project or feel like winning a chess match email me at <a href="mailto:hi@aquariusdue.com">hi@aquariusdue.com</a>.</p>
        <div class="twitter-feed">
          <h3 class="ib">My latest tweets</h3>
          <div class="social-icons-inline">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon-animation" id="twitter-icon" viewBox="0 0 611 498" width="100%" height="100%">
              <g id="layer1">
              </g>
                <path id="path3878" d="M177.94 497.935c-44.143-1.78-86.185-11.117-126.14-28.013-18.354-7.76-53.137-26.48-51.76-27.857.17-.17 2.83-.02 5.914.335 8.636.993 37.22.834 47.335-.264 43.81-4.75 81.5-18.417 117.283-42.523 7.966-5.367 12.48-8.796 12.48-9.48 0-.25-2.12-.618-4.71-.82-44.596-3.483-83.39-29.097-103.45-68.3-3.948-7.718-7.826-17.624-7.16-18.29.295-.295 1.754-.268 3.658.07 6.29 1.11 17.77 1.783 24.436 1.43 10.542-.557 24.814-2.838 25.587-4.088.16-.26-.746-.736-2.014-1.058-22.74-5.788-41.855-16.386-58.23-32.283-14.562-14.138-24.832-30.35-31.53-49.774-3.85-11.164-6.503-25.922-6.503-36.16 0-4.517.107-5.09.957-5.09.526 0 1.45.347 2.054.77 2.025 1.418 12.11 5.658 18.714 7.866 3.598 1.204 10.056 2.904 14.35 3.78 8.386 1.707 19.145 2.703 18.785 1.737-.115-.307-2.268-2.102-4.785-3.99-9.004-6.75-20.806-19.197-27.336-28.828-11.46-16.905-19.062-37.623-21.16-57.676-.824-7.88-.372-26.638.808-33.5 1.258-7.318 3.81-17.1 6.027-23.1 2.926-7.916 8.706-19.542 9.616-19.34.42.095 2.498 2.23 4.615 4.748 25.06 29.804 58.03 57.456 92.583 77.647 42.914 25.076 86.926 39.716 139.726 46.48 6.28.803 21.06 1.74 21.45 1.356.246-.242-.08-3.68-.73-7.636-2.26-13.8-2.032-30.66.604-44.455C309.514 48.75 352.637 8.107 406.508.69c6.63-.913 26.782-.922 33.114-.015 26.688 3.823 51.25 15.56 69.778 33.344 3.782 3.63 5.57 4.987 6.57 4.987 2.398 0 20.782-4.836 29.736-7.822 14.53-4.845 32.59-12.87 44.776-19.894 2.01-1.158 3.462-1.7 3.667-1.368.186.303-.79 3.396-2.168 6.875-9.187 23.185-25.155 43.218-45.714 57.353-4.7 3.23-4.818 3.362-3.184 3.52 2.565.25 17.04-2.397 27.74-5.072 11.12-2.78 23.118-6.667 33.198-10.757 3.946-1.6 7.3-2.91 7.45-2.91.37 0-3.784 5.846-9.666 13.604-12.606 16.626-30.577 34.552-47.578 47.458l-4.898 3.718-.294 19.973c-.38 25.8-2.054 42.173-6.634 64.933-6.655 33.073-16.824 62.54-32.334 93.69-8.236 16.54-13.34 25.455-22.507 39.306-55.28 83.52-138.174 136.904-236.124 152.06-22.61 3.5-51.254 5.16-73.497 4.263z" style="fill-opacity:1"/>
            </svg>
          </div>
          <a class="twitter-timeline" href="https://twitter.com/AquariusDue" data-widget-id="598808936578490368" width="600"  data-tweet-limit="3" data-chrome="noheader transparent">Tweets by @AquariusDue</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
      <div class="col-sm-offset-2 col-md-6 col-md-offset-0" id="photo-container">
        <%= image_tag "me-cropped-blur.jpg", :id => "my-photo" %>
        <div id="social-media" class="">
          <div class="social-icons">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon-animation" id="twitter-icon" viewBox="0 0 611 498" width="100%" height="100%">
              <g id="layer1">
              </g>
                <path id="path3878" d="M177.94 497.935c-44.143-1.78-86.185-11.117-126.14-28.013-18.354-7.76-53.137-26.48-51.76-27.857.17-.17 2.83-.02 5.914.335 8.636.993 37.22.834 47.335-.264 43.81-4.75 81.5-18.417 117.283-42.523 7.966-5.367 12.48-8.796 12.48-9.48 0-.25-2.12-.618-4.71-.82-44.596-3.483-83.39-29.097-103.45-68.3-3.948-7.718-7.826-17.624-7.16-18.29.295-.295 1.754-.268 3.658.07 6.29 1.11 17.77 1.783 24.436 1.43 10.542-.557 24.814-2.838 25.587-4.088.16-.26-.746-.736-2.014-1.058-22.74-5.788-41.855-16.386-58.23-32.283-14.562-14.138-24.832-30.35-31.53-49.774-3.85-11.164-6.503-25.922-6.503-36.16 0-4.517.107-5.09.957-5.09.526 0 1.45.347 2.054.77 2.025 1.418 12.11 5.658 18.714 7.866 3.598 1.204 10.056 2.904 14.35 3.78 8.386 1.707 19.145 2.703 18.785 1.737-.115-.307-2.268-2.102-4.785-3.99-9.004-6.75-20.806-19.197-27.336-28.828-11.46-16.905-19.062-37.623-21.16-57.676-.824-7.88-.372-26.638.808-33.5 1.258-7.318 3.81-17.1 6.027-23.1 2.926-7.916 8.706-19.542 9.616-19.34.42.095 2.498 2.23 4.615 4.748 25.06 29.804 58.03 57.456 92.583 77.647 42.914 25.076 86.926 39.716 139.726 46.48 6.28.803 21.06 1.74 21.45 1.356.246-.242-.08-3.68-.73-7.636-2.26-13.8-2.032-30.66.604-44.455C309.514 48.75 352.637 8.107 406.508.69c6.63-.913 26.782-.922 33.114-.015 26.688 3.823 51.25 15.56 69.778 33.344 3.782 3.63 5.57 4.987 6.57 4.987 2.398 0 20.782-4.836 29.736-7.822 14.53-4.845 32.59-12.87 44.776-19.894 2.01-1.158 3.462-1.7 3.667-1.368.186.303-.79 3.396-2.168 6.875-9.187 23.185-25.155 43.218-45.714 57.353-4.7 3.23-4.818 3.362-3.184 3.52 2.565.25 17.04-2.397 27.74-5.072 11.12-2.78 23.118-6.667 33.198-10.757 3.946-1.6 7.3-2.91 7.45-2.91.37 0-3.784 5.846-9.666 13.604-12.606 16.626-30.577 34.552-47.578 47.458l-4.898 3.718-.294 19.973c-.38 25.8-2.054 42.173-6.634 64.933-6.655 33.073-16.824 62.54-32.334 93.69-8.236 16.54-13.34 25.455-22.507 39.306-55.28 83.52-138.174 136.904-236.124 152.06-22.61 3.5-51.254 5.16-73.497 4.263z" style="fill-opacity:1"/>
            </svg>
          </div>
          <div class="social-icons">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 39" width="100%" height="100%" class="icon-animation" id="github-icon">
              <g id="layer1">
                <path d="M20.36 0C9.116 0 0 9.116 0 20.363c0 8.996 5.834 16.627 13.925 19.32 1.02.187 1.39-.442 1.39-.982 0-.48-.017-1.763-.027-3.46-5.664 1.23-6.86-2.73-6.86-2.73-.925-2.352-2.26-2.98-2.26-2.98-1.85-1.262.14-1.237.14-1.237 2.043.145 3.118 2.098 3.118 2.098 1.817 3.113 4.767 2.214 5.927 1.694.185-1.316.71-2.214 1.292-2.723C12.125 28.85 7.37 27.1 7.37 19.3c0-2.223.794-4.04 2.096-5.464-.21-.515-.908-2.585.2-5.39 0 0 1.71-.546 5.6 2.09 1.623-.453 3.365-.68 5.097-.686 1.728.008 3.47.233 5.097.685 3.888-2.635 5.594-2.088 5.594-2.088 1.11 2.804.412 4.874.202 5.39 1.305 1.423 2.094 3.24 2.094 5.463 0 7.822-4.76 9.543-9.297 10.047.73.63 1.382 1.87 1.382 3.77 0 2.723-.025 4.92-.025 5.586 0 .546.366 1.18 1.4.98 8.085-2.697 13.914-10.324 13.914-19.317C40.724 9.116 31.606 0 20.36 0" id="path24" fill-rule="evenodd"/>
              </g>
            </svg>
          </div>
          <div class="social-icons">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 49" width="100%" height="100%" class="icon-animation" id="youtube-icon">
              <g id="layer1">
                <path d="M16.348 49.096c-10.592-.766-12.546-1.38-14.19-4.45C.397 41.354-.504 27.562.294 16.094c.7-10.044.835-10.507 3.905-13.25L7.38 0h27.534C66.05 0 67.258.235 69.456 6.733c1.71 5.058 1.71 30.476 0 35.534-2.005 5.93-4.202 6.545-25.187 7.062-10.133.25-22.697.144-27.922-.234zM41.173 27.25l6.325-3.506-8.825-4.834c-4.854-2.658-9.387-4.85-10.075-4.872-.913-.028-1.25 2.475-1.25 9.295 0 5.134.282 9.616.627 9.96.666.667 3.08-.44 13.198-6.044z" id="path3025"/>
              </g>
            </svg>
          </div>
          <div id="hello-button">
            <p class="send">Send "Hello"!</p>
            <p class="sent">Sent!</p>
          </div>
      </div>
      <div class="github-widget">
        <h3 class="ib">Github activity</h3>
        <div class="social-icons-inline">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 39" width="100%" height="100%" class="icon-animation" id="github-icon">
            <g id="layer1">
              <path d="M20.36 0C9.116 0 0 9.116 0 20.363c0 8.996 5.834 16.627 13.925 19.32 1.02.187 1.39-.442 1.39-.982 0-.48-.017-1.763-.027-3.46-5.664 1.23-6.86-2.73-6.86-2.73-.925-2.352-2.26-2.98-2.26-2.98-1.85-1.262.14-1.237.14-1.237 2.043.145 3.118 2.098 3.118 2.098 1.817 3.113 4.767 2.214 5.927 1.694.185-1.316.71-2.214 1.292-2.723C12.125 28.85 7.37 27.1 7.37 19.3c0-2.223.794-4.04 2.096-5.464-.21-.515-.908-2.585.2-5.39 0 0 1.71-.546 5.6 2.09 1.623-.453 3.365-.68 5.097-.686 1.728.008 3.47.233 5.097.685 3.888-2.635 5.594-2.088 5.594-2.088 1.11 2.804.412 4.874.202 5.39 1.305 1.423 2.094 3.24 2.094 5.463 0 7.822-4.76 9.543-9.297 10.047.73.63 1.382 1.87 1.382 3.77 0 2.723-.025 4.92-.025 5.586 0 .546.366 1.18 1.4.98 8.085-2.697 13.914-10.324 13.914-19.317C40.724 9.116 31.606 0 20.36 0" id="path24" fill-rule="evenodd"/>
            </g>
          </svg>
        </div>
        <div class="github-profile-summary">
          <div class="github-time"><time>21 April 2016</time></div>
          <div class="github-activity"><p><a href="#">AquariusDue</a> pushed to <a href="#">master</a> at <a href="#">AquariusDue/personal-website</a></p></div>
          <div class="github-profile-picture ib"><img src="https://avatars2.githubusercontent.com/u/6514772?v=3&s=460"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <article>
      <div class="col-md-12">
        <h1 id="blog-title"class="blog-header">Blog</h1>
        <p  id="blog-tagline" class="blog-header">Hit the ground running or hit the keyboard typing</p>
        <div class="col-md-8 col-md-offset-2">
          <% blog.articles[0...5].each do |article| %>
            <article>
              <h1 class="blog-post-title-home"><a href="<%= article.url %>"><%= article.title %></a></h1>
              <time><p class="blog-post-date-home"><%= article.date.strftime('%b %e %Y') %></p></time>
              <p><%= article.summary %></p>
            </article>
          <% end %>
        </div>
      </div>
    </article>
  </div>
</div>
